@font-face {
    font-family: primaryFont;
    src: url(../fonts/RobotoMono-Regular.ttf);
}

* {
    font-family: primaryFont;
    margin: 0;
    padding: 0;
    color: white;
}

body {
    -webkit-app-region: drag;
}
#close {
    all: unset;
    position: absolute;
    top: -2px;
    left: 20px;
    text-shadow: 0 0 10px black;
    cursor: pointer;

}
.timerContainer {
    display: none;
    align-items: center;
    justify-content: center;
    margin: 10px 0;
}
.imgContainer {
    width: 30%;
    margin-right: 15px;
    text-align: center;
}
.img {
    filter: drop-shadow(0px 0px 5px #000);
}
#asgo img {
    width: 100%;
}
#ic img {
    width: 100%;
}
#lod img {
    width: 68%;
}
.timer {
    text-shadow: 0 0 10px black;
}